<app-header></app-header>
<div class="espacioArriba"></div>



<!-- COLOMBIA -->
<!-- ******************************************************** -->
<div class="container">
    <div class="row espacioAbajo text-primary">
        <div class="col" size="12">
            Colombia
        </div>
    </div>


    <div class="container">
        <div class="row text-primary">
            <div class="col" size="5">
                <img src="/assets/img/colombia.jpg" class="imgproperties" alt="Colombia">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row espacioAbajo text-primary">
            <div class="col" size="12">
                Tweets por Clasificacion
            </div>
        </div>


        <div class="container">
            <div class="row espacioAbajo ">
                <div class="col text-center" size="12">
                    <app-grafica-circle></app-grafica-circle>
                </div>
            </div>


            <div class="row espacioAbajo text-primary">
                <div class="col" size="12">
                    Tweets por Ciudades Principales Colombia
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row ">
                <div class="col" size="12">
                    <app-grafica-line></app-grafica-line>
                </div>
            </div>
        </div>

        <!-- COLOMBIA -->
        <!-- ******************************************************** -->





        <div class="container">
            <div class="row espacioAbajoFinal">
            </div>
        </div>

        <app-footer></app-footer>