<app-header></app-header>
<div class="espacioArriba"></div>




<!-- ******************************************************** -->
<div class="container">
    <div class="row text-primary">
        <div class="col" size="5">
            <img src="/assets/img/Brazil.png" class="imgproperties" alt="brasil">
        </div>
    </div>
</div>

<div class="container">
    <div class="row espacioAbajo text-primary">
        <div class="col" size="12">
            Tweets por Clasificacion
        </div>
    </div>


    <div class="container">
        <div class="row espacioAbajo">
            <div class="col" size="12">
                <app-grafica-circle-brasil></app-grafica-circle-brasil>
            </div>
        </div>


        <div class="row espacioAbajo text-primary">
            <div class="col" size="12">
                Tweets por Ciudades Principales Brazil
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row ">
            <div class="col" size="12">
                <app-grafica-line-brasil></app-grafica-line-brasil>
            </div>
        </div>
    </div>


    <!-- ******************************************************** -->





    <div class="container">
        <div class="row espacioAbajoFinal">
        </div>
    </div>

    <app-footer></app-footer>