<nav class="navbar navbar-expand-lg navbar-light header">
    <a class="navbar-brand">
        <img src="/assets/img/Goldenseed.png" width="30" height="30" class="d-inline-block align-top imgredonda" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/home">¿Que es Golden seed?</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-success" routerLink="/search">Realizar Busqueda</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Busqueda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: darkgoldenrod">
                    <a class="dropdown-item text-dark" routerLink="/generalSearch">Busqueda general</a>
                    <a class="dropdown-item text-dark " routerLink="/profileSearch">Busqueda perfil de twitter</a>
                </div>
            </li>

            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Influencers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: white">
                    <a class="dropdown-item text-dark" routerLink="/influencers/moda">Moda</a>
                    <a class="dropdown-item text-dark" routerLink="/influencers/deporte">Deporte</a>
                </div>
            </li> -->

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-dark" routerLink="/dashboardTweets">Informacion de tweets</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Latino America
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: darkgoldenrod">
                    <a class="dropdown-item text-dark" routerLink="/colombia">Colombia</a>
                    <a class="dropdown-item text-dark" routerLink="/argentina">Argentina</a>
                    <a class="dropdown-item text-dark" routerLink="/bolivia">Bolivia</a>
                    <a class="dropdown-item text-dark" routerLink="/brasil">Brasil</a>
                    <a class="dropdown-item text-dark" routerLink="/chile">Chile</a>
                    <a class="dropdown-item text-dark" routerLink="/costaRica">Costa Rica</a>
                    <a class="dropdown-item text-dark" routerLink="/cuba">Cuba</a>
                    <a class="dropdown-item text-dark" routerLink="/ecuador">Ecuador</a>
                    <a class="dropdown-item text-dark" routerLink="/elSalvador">El Salvador</a>
                    <a class="dropdown-item text-dark" routerLink="/guatemala">Guatemala</a>
                    <a class="dropdown-item text-dark" routerLink="/honduras">Honduras</a>
                    <a class="dropdown-item text-dark" routerLink="/mexico">Mexico</a>
                    <a class="dropdown-item text-dark" routerLink="/nicaragua">Nicaragua</a>
                    <a class="dropdown-item text-dark" routerLink="/panama">Panama</a>
                    <a class="dropdown-item text-dark" routerLink="/paraguay">Paraguay</a>
                    <a class="dropdown-item text-dark" routerLink="/peru">Peru</a>
                    <a class="dropdown-item text-dark" routerLink="/puertoRico">Puerto Rico</a>
                    <a class="dropdown-item text-dark" routerLink="/republicaDominicana">Republica Dominicana</a>
                    <a class="dropdown-item text-dark" routerLink="/urugay">Urugay</a>
                    <a class="dropdown-item text-dark" routerLink="/venezuela">Venezuela</a>
                </div>
            </li>




            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link text-dark" routerLink="/recomendations">Sistema de filtros</a>
            </li>

            <!-- <li class="nav-item " routerLinkActive="active">
                <a class="nav-link text-dark" routerLink="/userlikes">Recomendaciones</a>
            </li>

            <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link text-dark" routerLink="/bolsa">Analisis de bolsa</a>
            </li> -->

        </ul>

        <!-- <button class="btn btn-outline-white my-2 my-sm-0" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation" style="background: rgb(255, 255, 255)">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <ul class="navbar-nav navbar-right">
            <li class="espacioIzquierda">
                <a [routerLink]="['/register']" class="btn btn-info">Registrar</a>
                <a class="espacioDrecha" [routerLink]="['/login']" class="btn btn-">Ingresar</a>
            </li>
        </ul> -->





    </div>
</nav>