.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }

  img.izquierda {
    float: left;
    margin-right: 20px;
  }
  
  img.derecha {
    float: right;
    margin-left: 20px;
  }
  
  .espacioAbajo {
    margin-bottom: 20px;
  }
  
  .espacioArriba {
    margin-top: 40px;
  }
  
  .espacioIzquierda {
    margin-left: 40px;
  }
  
  .espacioImagen{
    margin-top: 14px;
  }
  
  .espacioDrecha{
    margin-right: 40px;
  }
  
  img {
    margin-bottom: 20px;
  }
  
  .pequena{
    width: 50px; height: 50px;
  }
  .mediana{
    width: 100px; height: 100px;
  }
  .grande{
    width: 200px; height: 200px;
  }
  
  h2 {
    clear: both;
  }
  
  .container-bg {
    background: rgba(212, 209, 209, 0.63);
  }

  .scroll {
    height: 500px;
    overflow-y: auto;
}


.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
   width:  950px;
   height: 500px;
}


.imgproperties {
   width:  450px;
   height: 550px;
}

.imgredonda {
  border-radius: 50%;
  width:  100px;
  height: 100px;
}

.espacioAbajo {
  padding-bottom: 30px;
}

.espacioArriba {
  padding-top: 10px;
}

.espacioIzquierda {
  padding-left: 10px;
}

.espacioD {
  padding-right: 10px;
}

.espacioGil {
  padding-right: 10px;
}

.imgredondasemilla {
  border-radius: 34%;
  width:  190px;
  height: 150px;
}