<app-header></app-header>

<div class="container">
    <div class="espacioArriba"></div>
    <div class="card border-primary" style="background:rgb(189, 188, 187)">
        <div class="row">

            <div class="col" size="12">

                <form>
                    <div class="text-center">
                        <h2 class="text-black">Registro</h2>
                        <img src="/assets/img/Goldenseed.png" class="imgredondasemilla" alt="...">

                        <div class="row espacioIzquierda espacioDrecha">
                            <div class="col" size="6">
                                <div class="form-group text-center">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="email" class="form-control" id="nombre" required>
                                    <div class="espacioAbajo"></div>
                                </div>
                            </div>

                            <div class="col" size="6">
                                <div class="form-group text-center">
                                    <label for="exampleInputEmail1">Apellido</label>
                                    <input type="email" class="form-control" id="apellido" required>
                                    <div class="espacioAbajo"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row espacioIzquierda espacioDrecha">
                            <div class="col" size="6">
                                <div class="form-group text-center">
                                    <label for="exampleInputEmail1">Correo Electronico</label>
                                    <input type="email" class="form-control" id="email" required>
                                    <div class="espacioAbajo"></div>
                                </div>
                            </div>

                            <div class="col" size="6">
                                <div class="form-group text-center">
                                    <label for="exampleInputEmail1">Celular</label>
                                    <input type="email" class="form-control" id="celular" required>
                                    <div class="espacioAbajo"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row espacioAbajo espacioIzquierda espacioDrecha">
                            <div class="col" size="6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                                </div>
                            </div>

                            <div class="col" size="6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Repetir contraseña</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col espacioAbajo">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="espacioArriba"></div>
    <div class="espacioArriba"></div>
</div>


<app-footer></app-footer>