<app-header></app-header>
<div class="espacioArriba"></div>




<!-- ******************************************************** -->
<div class="container">
    <div class="row text-primary">
        <div class="col" size="5">
            <img src="/assets/img/Paraguay.png" class="imgproperties" alt="paraguay">
        </div>
    </div>
</div>

<div class="container">
    <div class="row espacioAbajo text-primary">
        <div class="col" size="12">
            Tweets por Clasificacion
        </div>
    </div>


    <div class="container">
        <div class="row espacioAbajo">
            <div class="col" size="12">
                <app-grafica-circle-paraguay></app-grafica-circle-paraguay>
            </div>
        </div>


        <div class="row espacioAbajo text-primary">
            <div class="col" size="12">
                Tweets por Ciudades Principales Paraguay
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row ">
            <div class="col" size="12">
                <app-grafica-line-paraguay></app-grafica-line-paraguay>
            </div>
        </div>
    </div>


    <!-- ******************************************************** -->





    <div class="container">
        <div class="row espacioAbajoFinal">
        </div>
    </div>

    <app-footer></app-footer>