<app-header></app-header>

<div class="row espacioAbajo">
    <div class="col">
        <h2> Influencers en la moda </h2>
    </div>
</div>


<!-- ********************************************************************************************* -->
<div class="espacioIzquierda espacioAbajo">
    <div class="card border-primary " style="background: rgba(199, 195, 195, 0.884); width: 90rem; height: 30rem">
        <!-- Imagen -->
        <div class="row">
            <div class="col" size="4">
                <img src="/assets/img/deporte/deporte1.png" class="imgredonda" alt="...">
                <h2>Daniel Bernstein</h2>
            </div>

            <!-- Informacion -->
            <div class="col" size="4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> @ChiaraFerragni</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Seguidores: 407 k</h6>
                        <p class="card-text">Ultimos tweets</p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>

                    </div>
                </div>
            </div>

            <!-- Grafica -->
            <div class="col" size="4">
                <app-radar></app-radar>
            </div>
        </div>
    </div>
</div>
<!-- ********************************************************************************************* -->

<!-- ********************************************************************************************* -->
<div class="espacioIzquierda espacioAbajo">
    <div class="card border-primary" style="background: rgba(199, 195, 195, 0.884);width: 90rem; height: 30rem">
        <!-- Imagen -->
        <div class="row">
            <div class="col" size="4">
                <img src="/assets/img/deporte/deporte2.png" class="imgredonda" alt="...">
                <h2>Daniel Bernstein</h2>
            </div>

            <!-- Informacion -->
            <div class="col" size="4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> @GabiGregg</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Seguidores: 407 k</h6>
                        <p class="card-text">Ultimos tweets</p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>

                    </div>
                </div>
            </div>

            <!-- Grafica -->
            <div class="col" size="4">
                <app-radar></app-radar>
            </div>
        </div>
    </div>
</div>
<!-- ********************************************************************************************* -->

<!-- ********************************************************************************************* -->
<div class="espacioIzquierda espacioAbajo">
    <div class="card border-primary " style="background:rgba(199, 195, 195, 0.884); width: 90rem; height: 30rem">
        <!-- Imagen -->
        <div class="row">
            <div class="col" size="4">
                <img src="/assets/img/deporte/deporte3.png" class="imgredonda" alt="...">
                <h2>Daniel Bernstein</h2>
            </div>

            <!-- Informacion -->
            <div class="col" size="4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> @DanielleBernstein</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Seguidores: 407 k</h6>
                        <p class="card-text">Ultimos tweets</p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>
                        <p class="card-text"> Might change on the future </p>

                    </div>
                </div>
            </div>

            <!-- Grafica -->
            <div class="col" size="4">
                <app-radar></app-radar>
            </div>
        </div>
    </div>
</div>
<!-- ********************************************************************************************* -->
<div class="row espacioAbajoFinal"></div>



<app-footer></app-footer>